@page "/shop"
@using FormalRPG.Data
@attribute [StreamRendering]

<PageTitle>Shop</PageTitle>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudText Typo="Typo.h1" Class="px-6">Shop</MudText>

    <p>This is the shop where we buy stuff.</p>
}


@code {
    private ICollection<Item>? items = new List<Item>();
}
