@page "/upgrades"
@using FormalRPG.Data
@attribute [StreamRendering]

<PageTitle>Upgrades</PageTitle>

@if (upgrades == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudText Typo="Typo.h1" Class="px-6">Upgrades</MudText>

    <p>This is the shop where we buy stuff.</p>
}


@code {
    private ICollection<Upgrade>? upgrades = new List<Upgrade>();
}
